<a href="https://colab.research.google.com/github/SylviaBs/tugas-1/blob/main/notebook/02-intro-pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sumber:
https://colab.research.google.com/notebooks/mlcc/intro_to_pandas.ipynb

# Konsep Dasar Pandas

#### Import modul pandas

Untuk bisa menggunakan modul pandas, terlebih dahulu Anda harus memanggil modul ini dengan perintah `import`.

In [ ]:
import pandas as pd

#### Buat DataFrame sederhana

Panduan lengkap membuat _DataFrame_ Anda bisa akses di https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html.

Berikut beberapa cara sederhana untuk membuat _DataFrame_ dari _list_ atau _dictionary_

In [ ]:
# CARA 1
data = {'name':['Bob','Jen','Tim'],
        'age':[20,30,40],
        'pet':['cat', 'dog', 'bird']}
df = pd.DataFrame(data)

df

In [ ]:
# CARA 2
data = [['Bob',20,'cat'],['Jen',30,'dog'],['Tim',40,'bird']]
df = pd.DataFrame(data, columns=['name','age','pet'])

df

#### Melihat nama kolom

Indeks adalah salah satu konsep terpenting dalam panda.

Setiap _DataFrame_ hanya memiliki satu indeks yang selalu tersedia sebagai `df.index` dan jika Anda tidak menyediakannya (seperti yang tidak kami lakukan untuk kerangka data ini), yang baru akan dibuat secara otomatis.

Indeks menentukan cara mengakses baris kerangka data.

Indeks paling sederhana adalah indeks rentang tetapi ada yang lebih kompleks seperti indeks interval, indeks waktu dan indeks multi.

Kami akan mengeksplorasi indeks lebih mendalam selama kuliah ini.

In [ ]:
df.columns

In [ ]:
df.index

#### Pilih kolom berdasarkan nama dengan 2 cara berbeda

Kedua cara ini setara dan hampir selalu dapat digunakan secara bergantian.

Pengecualian utama adalah ketika nama kolom berisi spasi. Jika misalnya kita memiliki kolom bernama "sales weekly", kita harus menggunakan `df['sales weekly']` karena `df.sales weekly` adalah kesalahan sintaksis.

In [ ]:
print(df['name'])

In [ ]:
print(df.name)

#### Pilih beberapa kolom

Untuk memilih banyak kolom, kami menggunakan `df[columns_to_select]` di mana `columns_to_select` adalah kolom yang ingin kami berikan sebagai daftar python sederhana. Hasilnya kita akan mendapatkan data frame yang lain.

Ini setara dengan mencantumkan nama kolom di bagian `SELECT` dari kueri sql.

In [ ]:
df[['name','pet']]

#### Pilih baris berdasarkan indeks

Pemilihan baris secara teratur dilakukan melalui indeksnya. Saat menggunakan indeks rentang, kami dapat mengakses baris menggunakan indeks bilangan bulat tetapi ini tidak akan berfungsi saat menggunakan indeks datetime misalnya.

Kami selalu dapat mengakses setiap baris dalam kerangka data menggunakan `.iloc[i]` untuk beberapa bilangan bulat i.

Hasilnya adalah objek seri dari mana kita dapat mengakses nilai dengan menggunakan pengindeksan kolom.

In [ ]:
df.iloc[0]

### Sort Function

- pandas.pydata.org
- https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html

#### Urutkan data berdasarkan `pet`

Ada dua cara untuk mengurutkan.
- Berdasarkan indeks
- Berdasarkan nilai

Dengan nilai berarti menyortir menurut nilai dalam kolom.

Dalam contoh ini kita mengurutkan data pada _DataFrame_ berdasarkan nilai di kolom `pet`.

Parameter `ascending = True` berarti kita ingin baris diurutkan dalam urutan menaik. Ini sama dengan sql 'ASC'. Untuk mendapatkan urutan menurun gunakan `ascending = False`.

`inplace` sangat penting dan Anda harus selalu mengingatnya. Ketika `inplace=True` kerangka data dimodifikasi di tempat yang berarti tidak ada salinan yang dibuat dan data Anda sebelumnya yang disimpan dalam kerangka data hilang. Secara default inplace selalu False. Ketika salah, salinan dibuat dari data Anda dan salinan itu diurutkan dan dikembalikan sebagai keluaran.

Output dari `sort_values` selalu merupakan kerangka data yang dikembalikan tetapi perilakunya sangat bergantung pada parameter `inplace`.

In [ ]:
df.sort_values('pet',inplace=True, ascending=True)

### Indexing with DataFrames

Everything we discussed about indexing in numpy arrays applies to dataframes as well.

DataFrames are very similar to 2d-arrays with the main exception being that in DataFrames you can index using strings (column names).

#### View the index after the sort

In [ ]:
df

#### Perbedaan antara `loc` dan `iloc`

- `.loc` memilih data berdasarkan nilai index.
- `.iloc` memilih berdasarkan nomor posisi.

In [ ]:
df.loc[0] #index based

In [ ]:
df.iloc[0] #relative position based indexing

#### Gunakan `iloc` untuk memilih semua baris pada kolom

Berikut contoh perintah memilih seluruh baris pada kolom ke-2.

Ingat `:` = `::1`

Pada konteks _DataFrame_, angka pertama selalu baris dan yang kedua adalah kolom.

In [ ]:
df.iloc[:,2]

#### Gunakan `iloc` untuk memilih baris terakhir

In [ ]:
df.iloc[-1,:]

### Konsep Dasar Pandas: Latihan

In [ ]:
sales = [100,130,119,92,35]
customer_account = ['B100','J101','X102','P103','R104']
city = ['BOS','LA','NYC','SF','CHI']

#### Buat _DataFrame_ dengan data di atas

In [16]:
df = pd.DataFrame({
    'Sales': sales,
    'Customer Account': customer_account,
    'City': city
})

#### Cetak nama dari kolom pertama

In [17]:
print(df.columns[0])

Sales

#### Urutkan _DataFrame_ berdasarkan `city` secara _ascending_

In [18]:
df_sorted = df.sort_values(by='City', ascending=True)
print(df_sorted)

   Sales Customer Account City
0    100             B100  BOS
4     35             R104  CHI
1    130             J101   LA
2    119             X102  NYC
3     92             P103   SF

#### Cetak data konsumen terakhir di _DataFrame_

In [19]:
last_customer = df.iloc[-1]
print(last_customer)

Sales                 35
Customer Account    R104
City                 CHI
Name: 4, dtype: object

#### Reorder the columns with customer in the first column

In [20]:
df = df[['Customer Account', 'Sales', 'City']]
print(df)

  Customer Account  Sales City
0             B100    100  BOS
1             J101    130   LA
2             X102    119  NYC
3             P103     92   SF
4             R104     35  CHI

# Fungsi Standard Pandas

Mengenal fungsi yang disediakan Pandas, mari kita coba contoh data yang lebih banyak dari file CSV

#### Load data dari file CSV

File CSV adalah format file data sederhana. Isinya hanyalah data yang masing-masing _record_ nya terdiri dari 1 baris dan masing-masing _field_/_column_ nya dipisah tanda koma.

_Google Colab_ menyediakan beberapa contoh data yang diletakan pada folder _sample_data_.

In [ ]:
import pandas as pd

df = pd.read_csv("sample_data/california_housing_test.csv")
df

Beberapa website di internet menyediakan data _real_ yang bisa di download. Berikut beberapa situs yang menyediakan data CSV:
- https://data.jakarta.go.id/dataset/
- https://data.world/datasets/census

Untuk bahan pembelajaran, kita akan download data [Data Jumlah Kepala Keluarga Menurut Pekerjaan Jenis Kelamin dan Wilayah](https://data.jakarta.go.id/dataset/b0eb219e26e8e1fe7c521d8b78f9c89f/resource/e9a6fef809483b5cdd6ff545ee694494/download/Data-Jumlah-Kepala-Keluarga-Menurut-Pekerjaan-Jenis-Kelamin-dan-Wilayah-Tahun-2020.csv).
Execute script pada 2 cell berikut:

In [ ]:
# download data contoh
!wget https://raw.githubusercontent.com/ruang-belajar/python/refs/heads/master/notebook/data/2020-jakarta-kk.csv -O 2020-jakarta-kk.csv

In [ ]:
# load csv ke DataFrame
df = pd.read_csv("2020-jakarta-kk.csv")
df

#### Membaca beberapa baris data pertama

Fungsi `head` secara default mencetak 5 baris pertama dari DataFrame Anda.

Jika Anda memberikan parameter `n`, ia akan mencetak baris `n` pertama.

Dokumen ada [di sini](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.head.html)

In [ ]:
df.head()

#### Membaca 10 baris terakhir

In [ ]:
df.tail(10)

#### Membaca tipe data di DataFrame

Fungsi ini akan memberi tahu Anda jenis kolom.

Jenis secara otomatis disimpulkan oleh panda dan biasanya Anda tidak perlu mengkhawatirkannya.

[dokumen](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.info.html)

In [ ]:
df.info()

#### Statistik ringkasan dari DataFrame

Untuk mempelajari lebih lanjut tentang mendeskripsikan, kunjungi [tautan ini](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html)

In [ ]:
df.describe()

In [ ]:
df.describe().T

### Filter DataFrame

Anda dapat memfilter data berdasarkan kolom dan nilai dalam kerangka data

Berikut adalah contoh penggunaan filter pada DataFrame

In [ ]:
# mengambil data yang jenis kelamin LAKI-LAKI dan menyimpannya sebagai object df1
df1 = df[df.jenis_kelamin=='LAKI-LAKI']

In [ ]:
# dari data yang jenis kelamin LAKI-LAKI, filter data pekerjaan yang Pensiunan
df2 = df1[df1.pekerjaan=='Pensiunan']
df2

In [25]:
# prompt: Filter DataFrame

import pandas as pd

# download data contoh
!wget https://raw.githubusercontent.com/ruang-belajar/python/refs/heads/master/notebook/data/2020-jakarta-kk.csv -O 2020-jakarta-kk.csv

# load csv ke DataFrame
df = pd.read_csv("2020-jakarta-kk.csv")

# mengambil data yang jenis kelamin LAKI-LAKI dan menyimpannya sebagai object df1
df1 = df[df.jenis_kelamin=='LAKI-LAKI']

# dari data yang jenis kelamin LAKI-LAKI, filter data pekerjaan yang Pensiunan
df2 = df1[df1.pekerjaan=='Pensiunan']
df2

--2025-01-10 15:11:20--  https://raw.githubusercontent.com/ruang-belajar/python/refs/heads/master/notebook/data/2020-jakarta-kk.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1713771 (1.6M) [text/plain]
Saving to: ‘2020-jakarta-kk.csv’

2020-jakarta-kk.csv 100%[===================>]   1.63M  --.-KB/s    in 0.07s

2025-01-10 15:11:20 (24.6 MB/s) - ‘2020-jakarta-kk.csv’ saved [1713771/1713771]

,tahun,provinsi,kabupaten_kota,kecamatan,kelurahan,jenis_kelamin,pekerjaan,jumlah
3,2020,DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU PANGGANG,LAKI-LAKI,Pensiunan,19
30,2020,DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU KELAPA,LAKI-LAKI,Pensiunan,7
54,2020,DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU HARAPAN,LAKI-LAKI,Pensiunan,2
72,2020,DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU SELATAN,PULAU UNTUNG JAWA,LAKI-LAKI,Pensiunan,11
89,2020,DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU SELATAN,PULAU TIDUNG,LAKI-LAKI,Pensiunan,14
...,...,...,...,...,...,...,...,...
10561,2020,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,MUNJUL,LAKI-LAKI,Pensiunan,280
10601,2020,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,SETU,LAKI-LAKI,Pensiunan,176
10646,2020,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,LAKI-LAKI,Pensiunan,226
10688,2020,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,LUBANG BUAYA,LAKI-LAKI,Pensiunan,588
10733,2020,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,CEGER,LAKI-LAKI,Pensiunan,213

#### Combine (&) dan Join (|)

Anda juga bisa menggabungkan 2 kondisi dalam 1 query

In [ ]:
# query data yang adalah LAKI-LAKI DAN Pensiunan
df3 = df[(df.jenis_kelamin=='LAKI-LAKI')&(df.pekerjaan=='Pensiunan')]
df3

In [ ]:
# query data yang adalah LAKI-LAKI ATAU Pegawai Negeri Sipil
df3 = df[(df.pekerjaan=='Pensiunan')|(df.pekerjaan=='Pegawai Negeri Sipil')]
df3

### Menambahkan fungsi pada filter

Kita bisa menambahkan fungsi pada hasil filter. Berikut beberapa fungsi dasar yang kita bisa gunakan.

#### fungsi `sum()`

Fungsi `sum()` digunakan untuk menghitung total dari penjumlahan angka pada kolom terpilih

In [ ]:
df.jumlah[df.jenis_kelamin=='LAKI-LAKI'].sum()

In [ ]:
df1.jumlah.sum()

#### fungsi `mean()`

Fungsi `mean()` digunakan untuk menghitung nilai rata-rata dari kolom terpilih

In [ ]:
df.jumlah[df.jenis_kelamin=='LAKI-LAKI'].mean()

In [ ]:
df2.jumlah.mean()

#### fungsi `count()`

Fungsi `count()` digunakan untuk menghitung jumlah data. Untuk perhitungan sederhana, bisa memilih sembarang kolom untuk dikenakan fungsi `count()`

In [ ]:
df.jumlah.count()

In [ ]:
df.pekerjaan.count()

In [ ]:
df.shape[0]

Fungsi `shape[0]` dan `count()` memiliki kegunaan yang sama. Anda bisa menggunakannya sesuai kondisi.

### Pengelompokan data dengan `groupby`

Metode `groupby` adalah salah satu fungsi terpenting yang akan Anda gunakan dalam pekerjaan sehari-hari.

Parameter input utamanya adalah string yang menunjukkan nama kolom atau daftar string yang menunjukkan daftar nama kolom.

Outputnya adalah objek GroupBy yang sangat mirip dengan _DataFrame_.

Pengoperasian groupby sama dengan SQL GROUPBY atau _Pivot Table_ pada _MS Excel_

Untuk info selengkapnya, lihat [dokumen](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html).

In [ ]:
# contoh menghitung jumlah penduduk per masing-masing kecamatan
df.groupby('kecamatan').jumlah.sum()

Anda juga bisa menggunakan 2 kriteria _groupby_. Jika Anda menggunakan lebih dari satu kriteria, daftar kriteria ditulis dalam bentuk _list_.

In [ ]:
df4 = df.groupby(['kecamatan','jenis_kelamin']).jumlah.sum()
df4

### Latihan

#### Berapa jumlah penduduk wanita?

In [26]:
df_perempuan = df[df.jenis_kelamin == 'PEREMPUAN']
jumlah_perempuan = df_perempuan.jumlah.sum()
print(jumlah_perempuan)

747940

#### Berapa jumlah penduduk LAKI-LAKI di kecamatan CIPAYUNG?

In [29]:
df_laki_laki_cipayung = df[(df['jenis_kelamin'] == 'LAKI-LAKI') & (df['kecamatan'] == 'CIPAYUNG')]
jumlah_penduduk_laki_laki_cipayung = df_laki_laki_cipayung['jumlah'].sum()
print(f"Jumlah penduduk LAKI-LAKI di kecamatan CIPAYUNG: {jumlah_penduduk_laki_laki_cipayung}")

Jumlah penduduk LAKI-LAKI di kecamatan CIPAYUNG: 73997

#### Berapa jumlah penduduk PEREMPUAN yang adalah Pegawai Negeri Sipil?

In [32]:
df_perempuan_pns = df[(df['jenis_kelamin'] == 'PEREMPUAN') & (df['pekerjaan'] == 'Pegawai Negeri Sipil')]
jumlah_penduduk_perempuan_pns = df_perempuan_pns['jumlah'].sum()
print(f"Jumlah penduduk PEREMPUAN yang adalah Pegawai Negeri Sipil: {jumlah_penduduk_perempuan_pns}")

Jumlah penduduk PEREMPUAN yang adalah Pegawai Negeri Sipil: 9153

#### Berapa jumlah penduduk PEREMPUAN yang adalah Pegawai Negeri Sipil dan tinggal di JAKARTA TIMUR

In [49]:
df_perempuan_pns_jaktim = df[
    (df['jenis_kelamin'].str.lower() == 'perempuan') &
    (df['pekerjaan'].str.lower().str.contains('pegawai negeri', na=False)) &
    (df['kelurahan'].str.lower().str.contains('jakarta timur', na=False))
]
jumlah_penduduk_perempuan_pns_jaktim = df_perempuan_pns_jaktim['jumlah'].sum()
print(f"Jumlah penduduk PEREMPUAN yang adalah Pegawai Negeri Sipil dan tinggal di JAKARTA TIMUR: {jumlah_penduduk_perempuan_pns_jaktim}")

Jumlah penduduk PEREMPUAN yang adalah Pegawai Negeri Sipil dan tinggal di JAKARTA TIMUR: 0

#### Berapa rata-rata jumlah PEREMPUAN per masing-masing kecamatan

In [45]:
rata_rata_perempuan_per_kecamatan = df[df['jenis_kelamin'] == 'PEREMPUAN'].groupby('kecamatan')['jumlah'].mean()
rata_rata_perempuan_per_kecamatan

kecamatan
CAKUNG                      109.666667
CEMPAKA PUTIH                56.574468
CENGKARENG                  130.428571
CILANDAK                     62.782427
CILINCING                   103.444444
CIPAYUNG                     46.898773
CIRACAS                      93.656716
DUREN SAWIT                  90.897351
GAMBIR                       41.300926
GROGOL PETAMBURAN            64.066202
JAGAKARSA                    76.955556
JATINEGARA                   72.924925
JOHAR BARU                   62.200000
KALI DERES                  110.168889
KEBAYORAN BARU               30.685864
KEBAYORAN LAMA               82.511450
KEBON JERUK                  69.256410
KELAPA GADING                77.522727
KEMAYORAN                    64.525000
KEMBANGAN                    63.375000
KEPULAUAN SERIBU SELATAN      8.045455
KEPULAUAN SERIBU UTARA       10.681159
KOJA                         98.189300
KRAMATJATI                   72.880137
MAKASAR                      68.452128
MAMPANG PRAPATAN             60.701657
MATRAMAN                     63.115702
MENTENG                      37.185000
PADEMANGAN                   97.710938
PAL MERAH                    60.944000
PANCORAN                     48.896000
PASAR MINGGU                 69.908497
PASAR REBO                   60.458128
PENJARINGAN                 101.636771
PESANGGRAHAN                 73.655814
PULO GADUNG                  74.176849
S E N E N                    48.401709
SAWAH BESAR                  67.698925
SETIA BUDI                   36.614232
TAMAN SARI                   47.534884
TAMBORA                      54.448276
TANAH ABANG                  56.407407
TANJUNG PRIOK                97.175084
TEBET                        64.844828
Name: jumlah, dtype: float64